@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Pacifico',cursive;
}