@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Pacifico',cursive;
}
.meniuP {
    background: #133321;
    height: inherit1;
    z-index: 0;
    color: #aadbaa;
}


.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 100px;
    top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;


    
    
}

.line {

    width: 80vw;
    height: 2px;
    background-color: #aadbaa ;
}

.meniu {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 50px ;
}

.traditionale, .specials, .gratar, .drinks {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #133321;
}

.line2 {

    width: 50%;
    height: 2px;
    background-color: #aadbaa ;
}